body {
    background-color: lightpink;
}





.div1 {
    width: 200px;
    height: 150px;
    background-color: hotpink;
    margin: auto;
    box-shadow: 5px 5px 5px #3d3935 ;

}




.greenRight {
    font-family: "Comic Sans MS";
    color: #8d0039;
    font-size: small;
    text-align: right;
}




.blackRight {
    color: black;
    font-family: "Comic Sans MS";
    font-size: small;
    text-align: right;
    line-height: 10px;
}



.greenLeft {
    color: #8d0039;
    font-family: "Comic Sans MS";
    font-size: 10px;
    text-align: left;
}



.blackLeft {
    color: black;
    font-family: "Comic Sans MS";
    font-size: 13px;
    text-align: left;
}



    .h1 {
        color: deeppink;
        letter-spacing: .5em;
        text-align: center;
        font-family: "Comic Sans MS";
        font-size: 20px;
    }


    .h2 {
        text-align: left;
        font-size: medium;
        color: black;
        font-family: "Comic Sans MS";
        background-color: deeppink;
    }